.about-parent {
  padding: 100px 0;
  display: table;
  text-align: center;
  width: 100%;
}

.about {
  display: table-cell;
  vertical-align: middle;
}

.about div {
  width: 60%;
  margin-left: 20%;
  font-family: 'Radley';
  font-size: 18px;
}
