.project {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin-left: calc(50% - 200px);
  align-items : center;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  background-size: 200%;
  background-position: top center;
}

.project h3 {
  margin-top: 150px;
}

.project:hover {
  box-shadow: 0 0 3pt 1pt black;
}

.project h3, .project h4 {
  color: white;
}

.about {
  height: 100%;
}

.example-enter {
  opacity: 0.01;
  max-height: 0px;
}

.example-enter.example-enter-active {
  max-height: 1000px;
  opacity: 1;
  transition: all 1000ms ease-in;
}

.example-leave {
  opacity: 1;
  max-height: 1000px;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  max-height: 0px;
  transition: all 500ms ease-in;
}

@media screen and (max-width: 500px) {
  .project {
    width: 300px;
    height: 300px;
    margin-left: calc(50% - 150px);
  }

  .project h3 {
    margin-top: 100px;
  }
}
