.detail {
  height: auto;
  margin-bottom: 30px;
}

.detail * {
  font-family: 'Radley';
}

.description {
  font-family: 'Radley';
  font-size: 18px;
  margin-bottom: 5px;
  width: 60%;
  margin-left: 20%;
}
